.container {
    margin: 50px 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo h2 {
    font-size: 30px;
    font-weight: 700;
}

.btn {
    display: flex;
    align-items: center;
}

.btn p {
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.btn button{
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    border-style: none;
    background-color: #FF7048;
    width: 140px;
    height: 50px;
    color: white;
}